.container {
  display: flex;
  gap: 20px;
}

.upload_container {
  padding: 20px;
  width: 50%;
  min-height: 92vh;
  border-radius: 20px;
  background-color: #000;
}
.title {
  font-weight: 32px;
  font-weight: 600;
  color: @primary-color;
}
.preview_container {
  width: 50%;
  min-height: calc(100vh - 24px);
  border-radius: 20px;
  background-color: #fff;
}
