.container {
  height: 100vh;
  display: flex;
  background-color: #000;
}

.menu_container {
  -webkit-app-region: drag;
  color: #fff;
  background-color: #000;
  img {
    filter: invert(0.1);
  }
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 12px;
  width: 72px;
  .menu_item {
    background-color: #e6ffee;

    font-weight: 600;
    padding: 12px 24px;
    font-size: 18px;
    text-align: left;
    width: 200px;
  }
}

.main_container {
  flex: 1;
  margin: 12px;
  box-sizing: border-box;
  overflow: auto;
  padding-left: 0;
}
.menu_icon {
  color: #fff;
  width: 50px;
  display: flex;
  justify-content: center;
  border-radius: 8px;
  height: 50px;
  transition: all 0.3s;
  &:hover {
    color: @primary-color;
    background-color: rgba(52, 199, 89, 0.2);
  }
}
.menu_item_active {
  color: @primary-color;
  background-color: rgba(52, 199, 89, 0.2);
}
.title {
  font-weight: bold;
  color: #333333;
  font-size: 28px;
}
