.container {
  height: 100vh;
  display: flex;
}

.menu_container {
  box-shadow: 0 0 10px 0 #f6f6f6;
  gap: 32px;
  -webkit-app-region: drag;
  color: #fff;
  img {
    filter: invert(0.1);
  }
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 12px;
  width: 62px;
}

.main_container {
  flex: 1;
  box-sizing: border-box;
  overflow: auto;
  padding-left: 0;
}
.menu_icon {
  -webkit-app-region: no-drag;
}

.title {
  font-weight: bold;
  color: #333333;
  font-size: 28px;
}
